body{
    font-family: sans-serif;
    color: #070707;
    
    margin: auto;
   

}
header{
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.docplanner-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;

   
    
    
    max-width: 800px;
    margin: auto;
}
a{
    color: #252525;;
    text-decoration: none;
    padding: 0 0.6em;
}
.active{
    color: #5dc6b0;
}
.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
}
.introduction-logo{
    display: block;
    margin: auto;

}
.intro-log{
    width: 350px;
}
.introduction-title{
    color:#5dc6b0 ;
}
.introduction-text{
    display: flex;
}
.services{
    display: flex;
    max-width: 800px;
    margin: auto;
}
.service-card{
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    color: aliceblue;
}
.service-card-patient{
     background-color: #5dc6b0;
}
.service-card-doctors{
    background-color: #4293db;
}
.service-card-clinics{
    background-color: #747474;
}
.introduction-paragraph{
    margin: 10px;
}
.service-card-content{
    padding: 10px;
    border-radius: 5px;
}
.adress-container {   
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: auto;
}
.adress-container h1 {
    font-family: 'Charmonman', cursive;
    color:rgb(0,204,177);
    width: 30%;
}
.brand-logo {
    list-style: none;

}

.brand-logo li {
    font-size: 16px;
    display: inline-block;
    width: 168px;
    padding-right: 5px;
}

.brand-logo li:hover svg {
    fill: #00b39b;
}

.brand-logo li svg {
    height: 20px;
    width: auto;
    max-width: 100%;
    padding-top: 10px;
    fill: #747474;
}
.adress{
    width: 16%;
    margin-left: 15%;
}

/***********SECOND SECTION**********/
.statis-section {
    background-color: #e5faf8;
    height: 600px;
    width: 100%;
    flex-direction: row;


}

#upstat-div {
    margin-top: 50px;
    width: 50%;
    align-items: center;


}

#statis-slogan {
    font-size: 2.2em;
}

.statis-desc {
    font-size: .875em;
    font-weight: 400; 
    padding: 13px 129px;
}

.ddplogo-statis {
    height: 382px;
    width: 440px;
    margin-top: 25px;
}


.box {
    background-color: #fff;
    width: 228px;
    height: 250px;
    border-radius: 5px;
    margin-top: 31px;
    text-align: center;
}

.box img {
    margin-top: 13%;
    width: 40px;
}

.land-desc {
    padding: 0%;
    font-size: 13px;
}

.rd-title {
    font-size: 20px;
}

.box-neighb {
    margin-left: 25px;
    margin-top: 15px;
}
.stats-container{
    background: #e5faf8;
    padding: 1.875em 0 0.625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;

    
}
.introduction-box h1{
    font-size: 2.125rem;
    color: #00b39b;
    margin: 0;
    font-family:Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}
.introduction-box p{
    max-width: 415px;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857143;
    margin: 1.6em 0;
        display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.stats {
    text-align: center;
    width: 50%;
    margin-top: 3px;
    background:#e5faf8;
    padding: 20px;
}
.stats h1 {
    color: rgb(0,197,155);
    font-family: 'Charmonman',;
}
    .stats-box {
        background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    height: 150px;
    text-align: center;
    padding: 15px;
    font-size: .8125em;
    margin: 10px;
    }
    .stats-box-colomn-2 {
        display: flex;
        margin-top:5%;
    }
    .stats-box-colomn-1 {
        display: flex;
    }

.box-3 p {
    margin-right: 17%;
    margin-top: -5%;
}
.box-4 p {
    margin-right: 17%;
}
.offices-description {
    text-align: center;
}
.offices-description h1 {
    color: rgb(0,197,155);
    font-family: 'Charmonman', cursive;
}
.offices-description p {
    text-align: center;
    color: black;
    opacity: .7;
}
.offices-colomn-1 {
    display: flex;
    justify-content: space-evenly;
}
.offices-colomn-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}
.offices-colomn-1 h1 {
    font-family: 'Charmonman', cursive;
}
.offices-box h2 {
    font-family: 'Charmonman', cursive;
}
.offices-box{
    margin: 10px;
}
.opening-information {
    text-align: right;
    margin-top: -17%;
}
.opening-information input {
    background-color: rgb(61,131,223);
    color:white;
    height: 31px;
    border-radius: 25px;
}
/*Css for footer */
footer
 {  border-top: 1px solid rgba(17, 15, 15, 0.7);
    text-align: center;
    color: black;
    opacity: .7;
}
.footer {
    display: flex;
    text-align: center;
}
.footer p {
    width:fit-content;
    color: black;
    opacity: .7;
    margin-left: auto;
    margin-bottom: 0.5%;
    text-align: center;
}
.offices-list {
    width: 50%;
    margin-left: -20%;
    margin-top: 1.2%;
}
